<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB0C-Ec94WZWFJTHahno6LEuWl6_qhH0yo</string>
	<key>GCM_SENDER_ID</key>
	<string>715982462380</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sadmank.Sadman-Powerlifter</string>
	<key>PROJECT_ID</key>
	<string>sadman-powerlifter</string>
	<key>STORAGE_BUCKET</key>
	<string>sadman-powerlifter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:715982462380:ios:4656f54ce770f5c2d36e09</string>
</dict>
</plist>